@model TraCuuThuatNgu.ViewModels.ResultViewModel
@{
    Layout = "~/Views/Shared/_Root.cshtml";
    ViewBag.Title = "Result Page";
}
<div class="span span8">
    <div class="head">
        <div class="icm-list">
        </div>
        <h1>
            Kết quả</h1>
        <div class="clear">
        </div>
    </div>
    <div class="block">
        <div class="first-result">
            @if (Model.Entry != null)
            {
                <h1 id="headWord">@Model.Entry.HeadWord</h1>
                if (User.Identity.IsAuthenticated)
                {
                <div id="like-submit" class="like" title="Yêu thích">
                </div>
                }
                else
                {
                <div id="like-check" class="like" title="Yêu thích">
                </div>
                }
                
                <div class="count-like">
                    @Model.Entry.Favorites.Count</div>
                
            }
            else
            { 
                <p style="float: left">
                    Không tìm thấy</p>
            }
            <a style="float: right" href="#" class="btn-link btn-add">Thêm đóng góp</a>
            <div class="clear">
            </div>
        </div>
        <div class="divider">
        </div>

        @* Suggest when keyword not found*@
        @if (Model.Entry == null)
        {
        <div class="description-result">
            <span class="ic-cloud"></span><span class="description-text">Gợi ý:</span>
        </div>
        }

        <div class="description-result">
            @*<span class="ic-right"></span><span class="description-text">Giải thích</span>*@
            @if (ViewBag.Noun != null)
            {
                <h3 style="color: #f89406">
                    Danh từ</h3>
                foreach (var item in ViewBag.Noun)
                {
                <span class="ic-arrow-right"></span>
                <p>
                    <span class="synset">
                        @foreach (var entry in item.Entries)
                        {
                            if (entry.HeadWord.Equals(Model.Entry.HeadWord))
                            {
                            <span class="synset-item">@entry.HeadWord</span>
                            }
                            else
                            {
                            <span class="synset-item"><a class="btn-link" href="/Result?keyword=@entry.HeadWord">@entry.HeadWord</a></span>
                            }
                        }: </span>
                    <script>                        $("span span").last().removeClass('synset-item');</script>
                    <span class="def">@item.Def
                    </span><span class="exa">@item.Exa</span>
                </p>
                }
            }
            @if (ViewBag.Verb != null)
            {
                <h3 style="color: #f89406">
                    Động từ</h3>
                foreach (var item in ViewBag.Verb)
                {
                <span class="ic-arrow-right"></span>
                <p>
                    <span class="synset">
                        @foreach (var entry in item.Entries)
                        {
                            if (entry.HeadWord.Equals(Model.Entry.HeadWord))
                            {
                            <span class="synset-item">@entry.HeadWord</span>
                            }
                            else
                            {
                            <span class="synset-item"><a class="btn-link" href="/Result?keyword=@entry.HeadWord">@entry.HeadWord</a></span>
                            }
                        }: </span>
                    <script>                        $("span span").last().removeClass('synset-item');</script>
                    <span class="def">@item.Def</span> <span class="exa">@item.Exa</span>
                </p>
                }
            }
        </div>
        @*<div class="divider">
        </div>
        <div class="description-result">
            <span class="ic-right"></span><span class="description-text">Thuật ngữ liên quan:</span>
            <a href="#">Cải cách</a>, <a href="#">Hành chính</a>.
        </div>*@
        @if (Model.Entry != null)
        {
            <div class="divider">
            </div>
            <div class="description-result">
                <span class="ic-chat"></span><span class="description-text">Thảo luận</span>
            </div>
       
            <div class="comments">
                <div class="comments-head">
                </div>
                <div class="comment-input">
                    @using (Html.BeginForm("Add", "Comment"))
                    {
                        <div class="itemOut">
                            <a href="#" class="image">
                                <img src="../Content/img/users/alexander.jpg" class="img-polaroid"></a>
                            @if (User.Identity.IsAuthenticated)
                            {                        
                                <input name="headWord" type="hidden" value='@Request.Params["keyword"].ToString()' />
                                <textarea name="content" class="text"></textarea>
                            }
                            else
                            { 
                                <div class="text" style="min-height: 75px">
                                    Bạn phải <a class="popUpLogon" href="#">đăng nhập</a> mới có thể bình luận.
                                </div>
                            }
                            <div style="text-align: right">
                                <button class="btn" type="submit">
                                    Gửi</button>
                            </div>
                            <div class="clear">
                            </div>
                        </div>
                    }
                </div>
                <div class="dr">
                    <span></span>
                </div>
                @if (Model.Entry.Comments.Count == 0)
                { 
                    <p>
                        Chưa có bình luận nào</p>
                }
                else
                {<p>
                    Có <b>@Model.Entry.Comments.Count</b> bình luận</p>}
                <div class="comments-list">
                    @foreach (var item in Model.Entry.Comments)
                    {   
                        
                        <div class="itemOut">
                            <a href="#" class="image">
                                <img src="../Content/img/users/alexander.jpg" class="img-polaroid"></a>
                            <div class="text">
                                <div class="info">
                                    <span class="name">@item.aspnet_Users.UserName</span> <span class="date">@item.DateAdd</span>
                                    <div class="clear">
                                    </div>
                                </div>
                                @item.CmContent
                            </div>
                            <div class="clear">
                            </div>
                        </div>
                
                
                    }
                </div>
            </div>
        }
        else
        {

        }
    </div>
</div>
<div class="span span9">
    <div class="head">
        <div class="icm-zoom">
        </div>
        <h1>
            Tra cứu gần đây</h1>
        <div class="clear">
        </div>
    </div>
    <div class="block">
        sdklfhldshf<br />
        ádasd
    </div>
</div>
<div class="span span9">
    <div class="head">
        <div class="icm-chats">
        </div>
        <h1>
            Hỏi đáp</h1>
        <div class="clear">
        </div>
    </div>
    <div class="block">
        sdklfhldshf<br />
        ádasd
    </div>
</div>
<div class="clear">
</div>
@Html.Partial("_LogOnPopUp", Model.LogOnModel)
