@model TraCuuThuatNgu.ViewModels.ResultViewModel
@{
    Layout = "~/Views/Shared/_Root.cshtml";
    ViewBag.Title = "Result Page";
}   
<div class="span8">
    <div class="head">
        <div class="icm-list">
        </div>
        <h1>
            Kết quả</h1>
        <div class="clear">
        </div>
    </div>
    <div class="block">
        <div class="first-result">
            @if (Model.ThuatNgu != null)
            {
                <h1>@Model.ThuatNgu.MucTu</h1>
                if(User.Identity.IsAuthenticated)
                {
                    <div id="like-submit" class="like" title="Yêu thích"></div>
                }
                else
                {
                    <div id="like-check" class="like" title="Yêu thích"></div>
                }
                
                <div class="count-like">
                 @Model.ThuatNgu.YeuThiches.Count</div>
                <div class="clear">
                </div>
            }
            else
            { 
                <p>
                    Không tìm thấy</p>
            }
        </div>
        <div class="divider">
        </div>
        <div class="description-result">
            <span class="ic-right"></span><span class="description-text">Giải thích</span>
            <p>
                Là thuật ngữ dùng để chỉ quá trình cải biến có kế hoạch cụ thể để đạt được mục tiêu
                hoàn thiện một hay một số nội dung của nền hành chính nhà nước nhằm xây dựng nền
                hành chính công đáp ứng yêu cầu của nền hành chính hiệu lực, hiệu quả và hiện đại.</p>
        </div>
        <div class="divider">
        </div>
        <div class="description-result">
            <span class="ic-right"></span><span class="description-text">Thuật ngữ liên quan:</span>
            <a href="#">Cải cách</a>, <a href="#">Hành chính</a>.
        </div>
        <div class="divider">
        </div>
        <div class="description-result">
            <span class="ic-chat"></span><span class="description-text">Thảo luận</span>
        </div>
        @if (Model.ThuatNgu != null)
        {
            <div class="comments">
                <div class="comments-head">
                </div>
                <div class="comment-input">
                    @using (Html.BeginForm("Add", "Comment"))
                    {
                        <div class="itemOut">
                            <a href="#" class="image">
                                <img src="../Content/img/users/alexander.jpg" class="img-polaroid"></a>
                            @if (User.Identity.IsAuthenticated)
                            {                        
                                <input name="keyword" type="hidden" value='@Request.Params["keyword"].ToString()' />
                                <textarea name="content" class="text"></textarea>
                            }
                            else
                            { 
                                <div class="text" style="min-height: 75px">
                                    Bạn phải <a class="popUpLogon" href="#">đăng nhập</a> mới có thể bình luận.
                                </div>
                            }
                            <div style="text-align: right">
                                <button class="btn" type="submit">
                                    Gửi</button>
                            </div>
                            <div class="clear">
                            </div>
                        </div>
                    }
                </div>
                <div class="dr">
                    <span></span>
                </div>
                @if (Model.ThuatNgu.BinhLuans.Count == 0)
                { 
                    <p>
                        Chưa có bình luận nào</p>
                }
                else
                {<p>
                    Có <b>@Model.ThuatNgu.BinhLuans.Count</b> bình luận</p>}
                <div class="comments-list">
                    @foreach (var item in Model.ThuatNgu.BinhLuans)
                    {   
                        
                        <div class="itemOut">
                            <a href="#" class="image">
                                <img src="../Content/img/users/alexander.jpg" class="img-polaroid"></a>
                            <div class="text">
                                <div class="info">
                                    <span class="name">@item.aspnet_Users.UserName</span> <span class="date">@item.NgayDang</span>
                                    <div class="clear">
                                    </div>
                                </div>
                                @item.NoiDung
                            </div>
                            <div class="clear">
                            </div>
                        </div>
                
                
                    }
                </div>
            </div>
        }
        else
        {

        }
    </div>
</div>
<div class="span9">
    <div class="head">
        <div class="icm-chats">
        </div>
        <h1>
            Hỏi đáp</h1>
        <div class="clear">
        </div>
    </div>
    <div class="block">
        sdklfhldshf<br />
        ádasd
    </div>
</div>
<div class="clear">
</div>
@Html.Partial("_LogOnPopUp", Model.LogOnModel)